@import '../../assets/styles/base.scss';

.farm-container {
  background: $contrast-color;
  border-radius: $space-normal;
  margin: auto;
  width: 90%;
  padding: $space-bigger;
}

.pool-item {
  .name {
    @extend .T16_SM22;
    color: $dark-color;
  }
  .yield-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .apy {
    display: flex;
    flex-direction: column;
  }

  .ant-input-number {
    margin: $space-small;
    width: 100px;
    height: 38px;
  }

  .ant-input-number-handler-wrap {
    display: block !important;
    opacity: 1;
  }

  .ant-input-number-input-wrap {
    input {
      height: 38px;
    }
  }
}

.farm-detail {
  background: $contrast-color;
  border-radius: $space-normal;
  padding: $space-bigger;
  margin: auto;
  width: 60%;

  .farm-interface {
    background: #f4f4f4;
    border-radius: $space-normal;
    padding: $space-bigger;
    margin: auto;
  }

  .info {
    margin-top: $space-normal;
    .info-row {
      display: flex;
      justify-content: space-between;

      span {
        @extend .T20_G28;
      }
    }
  }

  .simulator {
    margin-top: $space-normal;
    background: #f4f4f4;
    border: 2px solid $unselect-color;
    border-radius: $space-normal;
    padding: $space-bigger;
  }

  .btn-group {
    margin-top: $space-bigger;
    display: flex;
    justify-content: space-around;
    div {
      margin: $space-normal;
    }
    .farm-btn {
      flex: 3;
    }
    .simulator-btn {
      flex: 1;
    }
  }
  .ant-slider-rail {
    height: 4px;
    border-radius: 2px;
    transition: none;
    background-color: #e1e1e1;
  }

  .ant-radio-group {
    display: flex;
    justify-content: space-between;
    .ant-radio-button-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      margin: $space-small;
      background: transparent;
      // border-radius: $space-smaller;
    }
  }

  .ant-col-12 {
    flex: 1;
    max-width: 100%;
    display: block;
  }
  .ant-select {
    width: 100% !important;
  }
}
